---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone/deployment-apps-v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: &app radarr
  labels:
    app.kubernetes.io/name: *app
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: *app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: *app
    spec:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - image: ghcr.io/home-operations/radarr:6.1.1.10317@sha256:5e08c0eefd2770d1d29395c4f84fe5bf7dfc3a986598021306a5d8ac017a3989
          name: *app
          env:
            - name: RADARR__POSTGRES__USER
              valueFrom:
                secretKeyRef:
                  name: radarr-db
                  key: username
            - name: RADARR__POSTGRES__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: radarr-db
                  key: password
            - name: RADARR__AUTH__APIKEY
              valueFrom:
                secretKeyRef:
                  name: radarr
                  key: token
            - name: RADARR__LOG__DBENABLED
              value: "False"
            - name: RADARR__APP__INSTANCENAME
              value: Radarr
            - name: RADARR__AUTH__METHOD
              value: External
            - name: RADARR__AUTH__REQUIRED
              value: DisabledForLocalAddresses
            - name: RADARR__SERVER__BINDADDRESS
              value: "*"
            - name: RADARR__UPDATE__MECHANISM
              value: Docker
            - name: RADARR__UPDATE__BRANCH
              value: master
            - name: RADARR__POSTGRES__HOST
              value: pgcluster-rw.db.svc.cluster.local
            - name: RADARR__POSTGRES__MAINDB
              value: radarr
            - name: TZ
              value: Etc/UTC
          ports:
            - containerPort: 7878
              name: http
          livenessProbe: &probes
            httpGet:
              path: /ping
              port: 7878
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe: *probes
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /config/MediaCover
            - name: media
              mountPath: /data
            - name: scratch
              mountPath: /tmp
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: media
        - name: config
          persistentVolumeClaim:
            claimName: *app
        - name: cache
          persistentVolumeClaim:
            claimName: radarr-cache
        - name: scratch
          emptyDir: {}
