---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sunlit-valley
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  timeout: 10m0s
  values:
    fullnameOverride: *app
    replicaCount: 1
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: 2026.1.1-java21@sha256:1b4c97e8065b85d6b62cdc89d45a616842c166fab517479f854e8d3476a95038
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
    resources:
      requests:
        cpu: 2000m
        memory: 8Gi
    securityContext:
      runAsUser: 65534
      runAsGroup: 65534
      runAsNonRoot: true
      fsGroup: 65534
      readOnlyRootFilesystem: false
      seccompProfile:
        type: RuntimeDefault
    startupProbe:
      enabled: true
    extraEnv:
      TZ: America/Detroit
      USE_MEOWICE_FLAGS: "true"
    persistence:
      dataDir:
        enabled: true
        existingClaim: *app
    minecraftServer:
      eula: true
      version: 1.20.1
      type: AUTO_CURSEFORGE
      icon: https://i.imgur.com/xCwev3X.png
      memory: 8G
      serviceType: LoadBalancer
      difficulty: normal
      levelType: normal
      spawnProtection: 0
      gameMode: survival
      pvp: default
      onlineMode: true
      whitelist: "Jayce"
      ops: "Jayce"
      motd: "pour one out for cobblemon academy"
      viewDistance: default
      rcon:
        enabled: true
        existingSecret: *app
        secretKey: MINECRAFT_COBBLEMON_RCON_PASSWORD
      autoCurseForge:
        apiKey:
          existingSecret: *app
          secretKey: CURSEFORGE_API_KEY
        slug: society-sunlit-valley
        filenameMatcher: 3.4.3

    mcbackup:
      enabled: true
      persistence:
        backupDir:
          existingClaim: sunlit-valley-backup

    serviceAnnotations:
      lbipam.cilium.io/ips: 192.168.20.40
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
