.env
.terraform
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
talosconfig
kubeconfig

controlplane*.yaml
worker*.yaml
!controlplane*.encrypted.yaml
!worker*.encrypted.yaml
age.agekey
.vagrant
.envrc
.ansible
