.env
.terraform
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
talosconfig
kubeconfig
age.agekey
.vagrant
.envrc
.ansible
worker*.yaml
controlplane*.yaml

# all secrets
**/secrets/**
talos/**
# allow traversal of secrets dirs
!**/secrets/**/
!talos/**/
# allow sops files in secrets dirs
!**/secrets/*.sops*
!**/secrets/**/kustomizeconfig.yaml
!**/secrets/**/*.sops*
!talos/*.sops*
!talos/**/*.sops*
!talos/**/*patch.yaml
# allow kustomization.yaml in secrets dirs
!**/secrets/**/kustomization.yaml
terraform/.bitwarden
