---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone/cronjob-batch-v1.json
apiVersion: batch/v1
kind: CronJob
metadata:
  name: &app configarr
spec:
  schedule: 0 * * * *
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 600
      template:
        spec:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: *app
              image: ghcr.io/raydak-labs/configarr:1.18.0@sha256:98d1fb3e87e01c9f56a0dd085d54e2910b77210eb3178a996648578e55b3015b
              env:
                - name: TZ
                  value: Etc/UTC
                - name: RADARR_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: radarr
                      key: token
                - name: SONARR_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: sonarr
                      key: token
              volumeMounts:
                - name: cache
                  mountPath: /app/repos
                  subPath: configarr-repos
                - name: configarr
                  mountPath: /app/config
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: [ALL]
          volumes:
            - name: cache
              emptyDir: {}
            - name: configarr
              configMap:
                name: configarr
          restartPolicy: Never
