---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone/deployment-apps-v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: &app qbittorrent
  labels:
    app.kubernetes.io/name: *app
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: *app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: *app
    spec:
      securityContext:
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
      initContainers:
        # gluetun sidecar
        - image: ghcr.io/qdm12/gluetun:v3.40.4@sha256:e10584de1f82d8999e5e6c3111901d9d56a2eed21151fb96af060f390bbdfba8
          restartPolicy: Always
          lifecycle:
            postStart:
              exec:
                # https://github.com/qdm12/gluetun-wiki/blob/main/setup/advanced/kubernetes.md
                command:
                  [
                    "/bin/sh",
                    "-c",
                    "(ip rule del table 51820; ip -6 rule del table 51820) || true",
                  ]
          livenessProbe: &probes
            exec:
              command:
                - /gluetun-entrypoint
                - healthcheck
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe: *probes
          name: gluetun
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
              squat.ai/tun: "1"
            limits:
              memory: 256Mi
              squat.ai/tun: "1"
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: TZ
              value: Etc/UTC
            - name: FIREWALL_DEBUG
              value: "off"
            - name: FIREWALL_INPUT_PORTS
              value: "8080"
            - name: FIREWALL_OUTBOUND_SUBNETS
              value: 10.96.0.0/16,10.244.0.0/16
            - name: VPN_TYPE
              value: wireguard
            - name: PUID
              value: "65534"
            - name: PGID
              value: "65534"
            - name: DNS_KEEP_NAMESERVER
              value: on
            - name: DOT
              value: off
          envFrom:
            - secretRef:
                name: vpn
          securityContext:
            allowPrivilegeEscalation: true
            runAsUser: 0
            runAsNonRoot: false
            readOnlyRootFilesystem: false
            capabilities:
              add:
                - NET_ADMIN
      containers:
        - image: ghcr.io/home-operations/qbittorrent:5.1.4@sha256:e9c2c24ad2b39fa0ee44de682bf26b14bf23cffea1de9e1f082f26caed4277f9
          name: *app
          env:
            - name: TZ
              value: Etc/UTC
            - name: QBT_TORRENTING_PORT
              valueFrom:
                secretKeyRef:
                  name: vpn
                  key: VPN_FIREWALL_INPUT_PORTS
            - name: QBT_WEBUI_PORT
              value: "8080"
          livenessProbe: &probes
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe: *probes
          resources:
            requests:
              cpu: 250m
              memory: 1280Mi
            limits:
              memory: 1280Mi
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop: [ALL]
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /data/downloads
              subPath: downloads
            - name: scratch
              mountPath: /tmp
            - name: qbrr
              mountPath: /qbrr
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: media
        - name: config
          persistentVolumeClaim:
            claimName: *app
        - name: qbrr
          image:
            reference: ghcr.io/buroa/qbrr:0.1.1@sha256:fe4a1d100ba896999253a5122d9c77cc4920779d618c23f765458cb6ec7383ca
        - name: scratch
          emptyDir: {}
