---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app opentelemetry-operator
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    replicaCount: 1
    crds:
      create: true
    manager:
      resources:
        limits:
          memory: 128Mi
          ephemeral-storage: 50Mi
        requests:
          cpu: 100m
          memory: 128Mi
          ephemeral-storage: 50Mi
      serviceMonitor:
        enabled: true
      createRbacPermissions: false
      leaderElection:
        enabled: true
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        readOnlyRootFilesystem: true
        capabilities:
          drop: [ALL]
        seccompProfile:
          type: RuntimeDefault
      featureGatesMap:
        operator.targetallocator.mtls: true
        operator.targetallocator.fallbackstrategy: true
        operator.golang.flags: true
        operator.sidecarcontainers.native: true

    kubeRBACProxy:
      enabled: true
      image:
        repository: quay.io/brancz/kube-rbac-proxy
        tag: v0.21.0@sha256:cbdad91c207e55cf366b59ce3e6c9d3f3e0b8e51ff33c1e7d153c2f762d83a1e
      ports:
        proxyPort: 8443
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 128Mi
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        readOnlyRootFilesystem: true
        capabilities:
          drop: [ALL]
        seccompProfile:
          type: RuntimeDefault
