---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone/deployment-apps-v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: &app sonarr
  labels:
    app.kubernetes.io/name: *app
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: *app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: *app
    spec:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - image: ghcr.io/home-operations/sonarr:4.0.16.2943@sha256:0a1b8f5cb5b072f7ad8c6ff64a25dc512115d1a114ecf19a58a3b4f870207ddd
          name: *app
          env:
            - name: SONARR__POSTGRES__USER
              valueFrom:
                secretKeyRef:
                  name: sonarr-db
                  key: username
            - name: SONARR__POSTGRES__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sonarr-db
                  key: password
            - name: SONARR__AUTH__APIKEY
              valueFrom:
                secretKeyRef:
                  name: sonarr
                  key: token
            - name: SONARR__LOG__DBENABLED
              value: "False"
            - name: SONARR__APP__INSTANCENAME
              value: Sonarr
            - name: SONARR__AUTH__METHOD
              value: External
            - name: SONARR__AUTH__REQUIRED
              value: DisabledForLocalAddresses
            - name: SONARR__SERVER__BINDADDRESS
              value: "*"
            - name: SONARR__UPDATE__MECHANISM
              value: Docker
            - name: SONARR__UPDATE__BRANCH
              value: develop
            - name: SONARR__POSTGRES__HOST
              value: pgcluster-rw.db.svc.cluster.local
            - name: SONARR__POSTGRES__MAINDB
              value: sonarr
            - name: TZ
              value: Etc/UTC
          ports:
            - containerPort: 8989
              name: http
          livenessProbe: &probes
            httpGet:
              path: /ping
              port: 8989
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe: *probes
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /config/MediaCover
            - name: media
              mountPath: /data
            - name: scratch
              mountPath: /tmp
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: media
        - name: config
          persistentVolumeClaim:
            claimName: *app
        - name: cache
          persistentVolumeClaim:
            claimName: sonarr-cache
        - name: scratch
          emptyDir: {}
