---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    fullnameOverride: smartctl-exporter
    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
        - sourceLabels: [__meta_kubernetes_pod_host_ip]
          separator: ;
          regex: ^(.*)$
          targetLabel: instance
          replacement: $1
          action: replace
    prometheusRules:
      enabled: false
    image:
      repository: ghcr.io/home-operations/smartctl-exporter
      tag: 0.14.0@sha256:f4b9664645923bfd9ff0ed20adbe066107edc5efca904b3588555058dac8cd84
    priorityClassName: system-node-critical
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 64Mi
