<Config>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{.Values.radarr.apiKey}}</ApiKey>
  <AuthenticationMethod>External</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>main</Branch>
  <LogLevel>debug</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Radarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <PostgresPort>5432</PostgresPort>
  <PostgresUser>{{.Values.radarr.db.user}}</PostgresUser>
  <PostgresPassword>{{.Values.radarr.db.password}}</PostgresPassword>
  <PostgresHost>{{.Values.pgcluster.name}}-rw.servarr.svc.cluster.local</PostgresHost>
  <PostgresMainDb>{{.Values.radarr.db.mainDB}}</PostgresMainDb>
  <PostgresLogDb>{{.Values.radarr.db.logDB}}</PostgresLogDb>
</Config>
